<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-RFP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACD9D5511BB83F250017E813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD9D56D1BB83F250017E813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD9D5781BB83F250017E813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
